html,
body {
	background-color: #efefef;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	margin: 0;
	padding: 0
	overflow: hidden;
}

::selection {
  background: white; 
}

p {	
	margin-bottom: 5rem;
}

a {
	color: #000;
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: #000;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 30px;
}

button {
	background-color: #fff;
	border: 1px solid #000;
	padding: 5px 20px 5px 20px;
}

.container {
	position: absolute;
	width: 100px;
	height: 100vh;
	padding: 0.5rem;
	overflow: hidden;
	box-sizing: border-box;
}


.arena {
	width: 30px;
}

.arena:hover {
	opacity: 0.2;
	cursor: pointer;
}