* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: black;
	color: #666666;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.3;
	margin: 0;
	padding: 0.5rem 0.25rem 0.5rem 0.5rem;
	overflow: hidden;
}

::selection {
  background: white; 
}

p {	
	
}

a {
	color: #666666;
	text-transform: none;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: #666666;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.info {
	margin-bottom: 1rem;
}

.links a {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

.links-left {
	width: 5%;
	height: 100%;
	float: left;

}

.links-right {
	width: 95%;
	height: 100%;
	float: left;

}







