* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #f8f8f8;
	font-family: "Helvetica Neue", Sans-Serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.5;
	height: 100%;
  	padding: 6rem;
}

::selection {
  background: white; 
}

p {	
	
}

a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: #000;

}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	margin: 0 0 1rem 0;
	
}

.container {
	width: 25rem;
	height: 100%;
	border: 1px solid #000;
	border-radius: 1rem;
	margin: 0 auto;
	overflow: hidden;
	
}







